@import '../../styles/mixins/typography';

.root {
    @include body;

    width: 100%;
    background-color: $color-white;
}

// Override global AEM gutters
:global(.kg-section-container .aem-Grid) > :global(.responsivegrid.faq-container) {
    padding: 0;
}
