@import '../../../styles/constants/colors';
@import '../../../styles/mixins/typography';
@import '../../../styles/mixins/utils';
.tab-content{
  width: 100%;
}

.tab-title{
  display: flex;
  justify-content: flex-start;
  @media #{$breakpoint-desktop}{
    width: 100%;
    height: 10%;
  }
    &__title{
    color: $color-purple;
    font-size: 2rem;
      @media #{$breakpoint-desktop}{
        font-size: 3rem;
      }
    }
}

.content-media__child{
  display: inline-block;

  @media #{$breakpoint-desktop}{
  display: flex;
   flex-direction: row;
    width: 100%;
  }

}
div{
  margin-top: toRem(10px);
}

p{
  text-align: justify;
}

li{
  display: flex;
  align-content: flex-start;
}


