@import '../../styles/constants/index';
@import '../../styles/mixins/index';

$_icon-base-url: '/etc.clientlibs/kg-bank/clientlibs/clientlib-base/resources/icons/';

.content-media{

  &__wrapper{
    width: 100%;

    &.mediaAbove{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &.mediaLeft{
        & .content-media{
          &__info{
            padding: 0;
          }
        }
        @media #{$breakpoint-desktop}{
          flex-direction: row;
          &.content-media{
            &__info{
              padding-left: 3rem;
            }
          }
        }
        @media #{$breakpoint-desktop-l}{
          &.content-media{
            &__info{
              padding-left: 5rem;
            }
          }
        }
      }

      &.mediaRight{
        & .content-media{
          &__info{
            padding: 0;
          }
        }
        @media #{$breakpoint-desktop}{
          flex-direction: row-reverse;
          &.content-media{
            &__info{
              padding-right: 3rem;
            }
          }
        }
        @media #{$breakpoint-desktop-l}{
          &.content-media{
            &__info{
              padding-right: 5rem;
            }
          }
        }
      }
    }

    &.mediaBelow{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;

      &.content-media__media{
        margin-top: 3rem;
      }

      &.mediaLeft{
        &.content-media{
          &__info{
            padding: 0;
          }
        }
        @media #{$breakpoint-desktop}{
          flex-direction: row;
          &.content-media{
            &__info{
              padding-left: 3rem;
            }
          }
        }
        @media #{$breakpoint-desktop-l}{
          &.content-media{
            &__info{
              padding-left: 5rem;
            }
          }
        }
      }

      &.mediaRight{
        &.content-media{
          &__info{
            padding: 0;
          }
        }
        @media #{$breakpoint-desktop}{
          flex-direction: row-reverse;
          &.content-media{
            &__info{
              padding-right: 3rem;
            }
          }
        }
        @media #{$breakpoint-desktop-l}{
          &.content-media{
            &__info{
              padding-right: 5rem;
            }
          }
        }
      }
    }
  }

  &__media{
    width: 100%;
    height: 18rem;
    z-index: 1;
    border-radius: toRem(3px);
    margin-bottom: 2rem;

    &.purpleCorners{
      position: relative;

      &::before{
        content: "";
        position: absolute;
        width: toRem(67px);
        height: toRem(67px);
        top: toRem(-17px);
        left: toRem(-17px);
        z-index: -1;
        background-image: url($_icon-base-url + 'ge-top-left-corner.svg');
        @media #{$breakpoint-desktop}{
          left: toRem(50px);
        }
      }

      &::after{
        content: "";
        position: absolute;
        width: toRem(67px);
        height: toRem(67px);
        top: toRem(-17px);
        left: toRem(-17px);
        z-index: -1;
        background-image: url($_icon-base-url + 'ge-bottom-right-corner.svg');
        @media #{$breakpoint-desktop}{
          left: toRem(50px);
        }
      }

      &img{
        border-radius: toRem(3px);
      }

      &div{
        border-radius: toRem(3px);
      }
    }
    //@media #{$breakpoint-mobile-s-min}{
    @media #{$breakpoint-mobile-s}{
      height: 22rem;
    }
    //@media #{$breakpoint-mobile-min}{
    @media #{$breakpoint-mobile}{
      max-width: 30rem;
      height: 25rem;
    }

   /* &img{
      border-radius: toRem(20px);
    }
*/
    &div{
      border-radius: toRem(20px);
    }

    @media (min-width: 400px){
      height: 20rem;
    }

    @media #{$breakpoint-desktop}{
      width: 52%;
      height: 22rem;
    }

    @media #{$breakpoint-desktop-l}{
      max-width: none;
      width: 51%;
      height: 25rem;
    }
  }

  &__info{
    &__rwc-cnt{
      display: flex;
      justify-content: center;
      flex-direction: column;

      &.button{
        margin-top: 2rem;
      }

      @media #{$breakpoint-desktop}{
        align-items: flex-start;
        &.text{
          padding: 0;
        }
      }
    }

    @media #{$breakpoint-desktop}{
      margin-top: -2rem;
      width: 58%;
    }
  }

.Media_img__2Xmkj {
  max-width: toRem(410px);
  max-height: 98%;
  width: 100%;
  height: auto;
  border-radius: toRem(5px);

}
}