<sly
        data-sly-use.template="core/wcm/components/commons/v1/templates.html"
        data-sly-use.reweb="com.konrad.core.reweb.DialogDataParser"
        data-sly-use.container="com.adobe.cq.wcm.core.components.models.LayoutContainer"
        data-sly-use.component="main.js">
        <kg-tab-content data-title="${properties.title}"
                        aem-data="${reweb.data}">
                <div class="cols" data-sly-repeat="${component.colNum}">
                        <sly data-sly-resource="${item.parsys @ resourceType='wcm/foundation/components/parsys'}"></sly>
                </div>
        </kg-tab-content>
        <sly data-sly-call="${template.placeholder @ isEmpty=(!properties.title)}"></sly>
</sly>